<!DOCTYPE html>
<html>
<head>
<style>
h2 {
  text-align: center;
  color: #411B8D;
}

#thank-you {
  margin-left: 100px;
  margin-right: 100px;
}

.mturk-id {
  text-align: center;
  padding-top: 10px;
}
</style>
</head>
<body>

<h2>Thank you!</h2>
<main>
  <div id="thank-you">
    <p>
      Thank you for taking this survey. Your participation is now complete. Please
      go back to Mechanical Turk and enter the following string. We will verify
      your responses and this string, and if it all looks good, your payment
      will be processed within the next three days.
    </p>
  </div>
  <div class="mturk-id">
  <form>
    <label for="mturk-id">Please enter your <b>MTurk ID</b> below:</label><br>
    <input type="text" name="mturk-id" required size="20">
    <input type="submit" value="Submit">
  </form>
    <p>
      Please go back to Mechanical Turk and enter the following string. We will verify
      your responses and this string, and if it all looks good, your payment will
      be processed within the next three days.
    </p>
  </div>
</main>

</body>
</html>
