<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head
    <meta charset="UTF-8" />
    <title>Project</title>
    <link href="{% static 'fate.css' %}" rel="stylesheet"/>
    <script src="{% static 'googleSearch.js' %}"></script>
  </head>

  <body>
    <div class="search">
      <img id="uw_logo" class="uw_logo" src="{% static 'Image/UWLogo.png' %}" alt="University of Washington">
      <div class="searchBar" id="searchBar">
        <img class="search_icon" src="{% static 'Image/search.png' %}" alt="search_icon">
        <input id="search-word" type="text" name="search" placeholder="University of Washington">
      </div>
      <div class="searchResult">
        <div class="resultInfo">
        </div>
        <!--
        <div class="resultInfo">
          <div class="title">title</div>
          <div class="description">description</div>
        </div>
        -->
      </div>
        <form id="form" class="form" name="rating" method="post">
          <strong>Select rating: </strong>
          <div class="rating">
            <label class="container">
              <input type="radio" name="rating" value=1>
              <span class="mark"><strong class="number">1</strong></span>
            </label>
            <label class="container">
              <input type="radio" name="rating" value=2>
              <span class="mark"><strong class="number">2</strong></span>
            </label>
            <label class="container">
              <input type="radio" name="rating" value=3>
              <span class="mark"><strong class="number">3</strong></span>
            </label>
            <label class="container">
              <input type="radio" name="rating" value=4>
              <span class="mark"><strong class="number">4</strong></span>
            </label>
            <label class="container">
              <input type="radio" name="rating" value=5>
              <span class="mark"><strong class="number">5</strong></span>
            </label>
          </div>
        <button onClick="submit_form" class="submit" type="button">Submit</button>
        <script type="text/javascript">
          function submit_form(){
            console.log("form submitted")
            //return selected rating value
            var rate = document.getElementsByName('rating');
            for(var i=1; i<rate.length; i++){
                console.log(rate[i].checked)
                if(rate[i].checked == true){
                  console.log("user selects" + i)
                  return i //number
                }
            }
          }
        </script>
        </form>
    </search>
  </body>
</html>
