<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}
</style>
</head>
<body>

<h2>Welcome</h2>

By clicking the button, I agree and consent the terms of service
<br/><button class="button" onclick='redirect()'> I agree </button>

<script>
    function redirect() {
        window.location = window.location + "main/";
    }
</script>
</body>
</html>
